<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--ФИЛЬТР, КОТОРЫЙ НЕЛЬЗЯ ПЕРЕОПРЕДЕЛИТЬ!-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

	<springProperty scope="context" name="applicationName" source="spring.application.name"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${applicationName}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/${applicationName}-%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--______________________-->
            <!--ХРАНЕНИЯ ЛОГОВ 1 ДЕНЬ!-->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread, %X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${nextbi.logback.ip}:6000</destination>
        <!--ФИЛЬТР, КОТОРЫЙ НЕЛЬЗЯ ПЕРЕОПРЕДЕЛИТЬ!-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder
                class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "serviceName": "${applicationName}"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="${nextbi.logback.level}">
        <appender-ref ref="STASH"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
